{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block page_js}}
    <!-- OWL CAROUSEL JAVASCRIPTS -->
    <script src="{{=URL('static','js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.feature.js')}}"></script>
    <script src="{{=URL('static','js/carousel.js')}}"></script>
    <script src="{{=URL('static','js/nav.js')}}"></script>
{{end}}

{{block body}}
    Check out will be here
{{end}}