{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block page_js}}
    <!-- OWL CAROUSEL JAVASCRIPTS -->
    <script src="{{=URL('static','js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.feature.js')}}"></script>
    <script src="{{=URL('static','js/carousel.js')}}"></script>
    <script src="{{=URL('static','js/nav.js')}}"></script>
{{end}}

{{block feature}}
    <div class="owl-carousel" id="feature-slider" >
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
        <div class="feature-item"><img src="{{=URL('static', 'images/product_sample.jpg')}}" alt="Owl Image"></div>
    </div>
{{end}}

{{block body}}
    <div class="smaller-wrapper">
        <div class="category-title"><h3>4K Ultra HD TVs</h3></div>
        <div class="owl-carousel" id="product-carousel">
            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5069/5069100_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Samsung | Smart 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$312.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div id="1" class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4801/4801704_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Sony | Smart 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$649.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div id="2" class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4988/4988400_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>VIZIO | 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong style="color: red;">SALE</strong> <strong>$379.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div id="3" class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5112/5112802_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Samsung | Smart 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$1,099.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4973/4973347_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>LG | Smart 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$449.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5069/5069100_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Samsung | Smart 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$312.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4801/4801704_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Sony | Smart 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$649.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4988/4988400_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>VIZIO | 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong style="color: red;">SALE</strong> <strong>$379.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5112/5112802_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Samsung | Smart 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$1,099.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4973/4973347_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>LG | Smart 4K Ultra HD TV</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$449.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

        </div>

        <div class="product-advertisement">
            <img src="{{=URL('static','images/studio.jpg')}}"/>
        </div>

        <div class="category-title"><h3>Computers & Tablets</h3></div>
        <div class="owl-carousel" id="product-carousel2">
            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/6448/6448039_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Apple | MacBook Pro® 15"</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$2,399.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5229/5229800_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Apple | Macbook® 12"</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$1,599.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4523/4523500_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Microsoft | Surface Book</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong style="color: red;">SALE</strong> <strong>$1,499.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5202/5202900_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Acer | R 11 2-in-1 Chromebook</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$279.00</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4262/4262900_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Acer | 15.6" Chromebook</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$249.00</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/6448/6448039_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Apple | MacBook Pro® 15" Intel i7</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$2,399.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5229/5229800_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Apple | Macbook® 12" Intel Core M5</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$1,599.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4523/4523500_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Microsoft | Surface Book 13.5" Laptop</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong style="color: red;">SALE</strong> <strong>$1,499.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5202/5202900_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Acer | R 11 2-in-1 Chromebook</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$279.00</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/4262/4262900_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Acer | 15.6" Chromebook Intel Celeron</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$249.00</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong id="add_cart_btn">Add to Cart</strong></div>
                </div>
            </div>

        </div>

        <div class="category-title"><h3>Gaming</h3></div>
        <div class="owl-carousel" id="product-carousel3">
            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5117/5117500_ra.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Sony - PlayStation VR</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$399.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/BestBuy_US/store/ee/2016/com/pol/pol-EVN-7738-161002.jpg;maxHeight=198;maxWidth=291" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Oculus Rift EVE: Valkyrie</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$849.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5587/5587706_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Oculus | Touch</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$199.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5388/5388601_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Xbox One | Pro Combo Pack</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$399.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5389/5389000_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>PS4 | Pro Combo Pack</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$399.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5117/5117500_ra.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Sony - PlayStation VR</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$399.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/BestBuy_US/store/ee/2016/com/pol/pol-EVN-7738-161002.jpg;maxHeight=198;maxWidth=291" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Oculus Rift EVE: Valkyrie</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$849.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5587/5587706_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Oculus | Touch</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$199.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5388/5388601_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>Xbox One | Pro Combo Pack</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$399.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

            <div class="item">
                <div id="product-image"><img src="http://pisces.bbystatic.com/image2/BestBuy_US/images/products/5389/5389000_sa.jpg;maxHeight=145;maxWidth=222" alt="Owl Image"></div>
                <div class="item-text" style="margin: 0; padding: 5px;">
                    <h5>PS4 | Pro Combo Pack</h5>
                    <div class="item-price-cart">
                        <div class="item-price"><strong>$399.99</strong></div>
                        <div class="learn-more"><i>Learn More</i></div>
                    </div>
                    <div class="add-to-cart"><strong>Add to Cart</strong></div>
                </div>
            </div>

        </div>

    </div>
{{end}}

{{block right_sidebar}}

<div class="side-image" style="width: 100%; display: flex; align-items: center; justify-content: center;"><img src="http://s3-us-west-1.amazonaws.com/dcn-wp/wp-content/uploads/2015/12/04092824/Visit-DKN.jpg" alt="DC Comics News"></div>

{{end}}

{{block categories}}
    <div class="product-advertisement">
            <img src="{{=URL('static','images/CannonAd.jpg')}}"/>
    </div>

    <div class="category-container">
        <div class="category-list-title"><h3>Browse by Category</h3></div>

        <ul class="category-row">
            <li>Appliances</li>
            <li>Audio</li>
            <li>Home Theater</li>
            <li>Gaming</li>
            <li>Computers & Tablets</li>
            <li>Cameras & Camcorders</li>
            <li>Cellphones</li>
        </ul>

        <ul class="category-row">
            <li>Car Electronics</li>
            <li>Movies & Music</li>
            <li>Wearables</li>
            <li>Smart Home</li>
            <li>Toys</li>
            <li>Drones</li>
            <li>VR</li>
        </ul>

    </div>
{{end}}