{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block page_js}}
    <!-- OWL CAROUSEL JAVASCRIPTS -->
    <script src="{{=URL('static','js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.feature.js')}}"></script>
    <script src="{{=URL('static','js/carousel.js')}}"></script>
{{end}}

{{block feature}}
    <div class="owl-carousel" id="feature-slider" >
        <div class="item"><img src="{{=URL('static', 'images/fullimage1.jpg')}}" alt="Owl Image"></div>
        <div class="item"><img src="{{=URL('static', 'images/fullimage2.jpg')}}" alt="Owl Image"></div>
        <div class="item"><img src="{{=URL('static', 'images/fullimage3.jpg')}}" alt="Owl Image"></div>
        <div class="item"><img src="{{=URL('static', 'images/fullimage4.jpg')}}" alt="Owl Image"></div>
        <div class="item"><img src="{{=URL('static', 'images/fullimage5.jpg')}}" alt="Owl Image"></div>
        <div class="item"><img src="{{=URL('static', 'images/fullimage6.jpg')}}" alt="Owl Image"></div>
        <div class="item"><img src="{{=URL('static', 'images/fullimage7.jpg')}}" alt="Owl Image"></div>
    </div>
{{end}}

{{block body}}

    <div class="smaller-wrapper">
        <div class="category-title" style="color: #282828; padding-left: 50px"><h3>Category 1</h3></div>
        <div class="owl-carousel" id="product-carousel" style="padding: 0px 50px;">
            <div class="item">
                <img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item"><img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image"></div>
        </div>

        <div class="category-title" style="color: #282828; padding-left: 50px"><h3>Category 2</h3></div>
        <div class="owl-carousel" id="product-carousel2" style="padding: 0px 50px;">
            <div class="item">
                <img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item"><img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image"></div>
        </div>

        <div class="category-title" style="color: #282828; padding-left: 50px"><h3>Category 3</h3></div>
        <div class="owl-carousel" id="product-carousel3" style="padding: 0px 50px;">
            <div class="item">
                <img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item">
                <img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image">
                <h4 style="margin: 0; padding: 5px;">PNY GeForce GTX 1060 DirectX 12</h4>
                <i style="margin: 0; padding: 5px;">Free Shipping</i><br>
                <strong style="margin: 0; padding: 5px;">$312.99</strong>
            </div>
            <div class="item"><img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl1.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl2.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl3.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl4.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl5.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl6.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl7.jpg')}}" alt="Owl Image"></div>
            <div class="item"><img src="{{=URL('static', 'images/owl8.jpg')}}" alt="Owl Image"></div>
        </div>

    </div>
{{end}}

{{block right_sidebar}}
<div class="panel panel-info">
  <div class="panel-heading"><h3 class="panel-title"><a class="btn-block"
      href="{{=URL('admin','default','index')}}">
      <i class="glyphicon glyphicon-cog"></i>
      {{=T("admin")}}
    </a></h3></div>
  <div class="panel-body">
    {{=T("Don't know what to do?")}}
  </div>
  <ul class="list-group">
    <li class="list-group-item">{{=A(T("Online examples"), _href=URL('examples','default','index'))}}</li>
    <li class="list-group-item"><a href="http://web2py.com">web2py.com</a></li>
    <li class="list-group-item"><a href="http://web2py.com/book">{{=T('Documentation')}}</a></li>
  </ul>
</div>
{{end}}

