{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block page_js}}
    <!-- OWL CAROUSEL JAVASCRIPTS -->
    <script src="{{=URL('static','js/jquery-1.9.1.min.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.js')}}"></script>
    <script src="{{=URL('static','js/owl.carousel.feature.js')}}"></script>
    <script src="{{=URL('static','js/carousel.js')}}"></script>
    <script src="{{=URL('static','js/nav.js')}}"></script>
{{end}}

{{block body}}
        <div class="product-outer-wrapper">
            <div class="product-container">

                <div class="product-image-carousel"><h1>Carousel</h1></div>

                <div class="product-item-description-container">
                    <div class="product-item-description-title"><h3>15-inch MacBook Pro</h3></div>
                    <div class="item-number">#123456</div>
                    <div class="rating"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"><img alt="star, yellow icon" class="tiled-icon" style="max-width: 20px; max-height: 20px;" src="https://cdn0.iconfinder.com/data/icons/super-mono-reflection/yellow/star_yellow.png"></div>
                    <div class="in-stock"><img alt="approve, approved, check, good, ok, tick, yes icon" class="tiled-icon" style="max-width: 15px; max-height: 15px;" src="https://cdn0.iconfinder.com/data/icons/free-misc-icon-set-1/512/check-128.png"> In Stock</div>
                    <div class="product-price"><strong> $2,399.00</strong></div>
                    <div class="add-to-cart" style="width: 175px;"><strong>Add to Cart</strong></div>
                </div>

            </div>
            <div class="product-description">
                <div class="product-item-description-title">
                        <h3>Item Description</h3>
                    </div>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
        </div>
{{end}}




